<div class="container mt-5">
  <div class="row">
    <div class="col-12 col-md-8 m-auto">
      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" [ngModel]="user?.email" #email="ngModel" name="email" class="form-control" id="email">
          <div *ngIf="!email.valid && email.touched" class="alert alert-danger">
            Enter a valid Email address
          </div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" [ngModel]="user?.password" name="password"
            #password="ngModel" required minlength="8">
          <div *ngIf="!password.valid && password.touched" class="alert alert-danger">
            Enter a valid Password
          </div>
        </div>
        <div class="alert alert-danger" *ngIf="errorMessage">
          {{errorMessage}}
        </div>
        <div class="mb-3">
          <span>Not registered? try <a [routerLink]="['/signup']" >signup</a></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>